@charset "utf-8";
* {	font-size:30px;	}
h1 { font-size:1.5em; color:white; display:inline}
body {
	background: linear-gradient(-45deg, rgba(170,170,170,1) 0%,rgba(96,96,96,1) 100%);
	/* background: gray; */
	font-family:arial, "Times New Roman", sans;
	color:white;
}
input { border:1px solid black; }
img { display:block;  margin:0 auto; }
table {
	width:90%;
	margin:auto;
	background:white;
	color:black;
}
thead {
	/* position:fixed;
	top:0; */
	background:#CCCC99
}
.center {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align:center;
}
.center .content {
	display:inline-block;
	color:white;
	vertical-align:middle;
	width:100%;
}
.center .content2 {
	display:inline-block;
	color:white;
	vertical-align:middle;
	width:600px;
}
.center .top {
	display:inline-block;
	width:100%;
	height:10%;
	vertical-align:middle;
}
.content {
	display:inline-block;
	width:100%;
	height:400px;
	overflow:auto;
	vertical-align:middle;
}
.member {
	display:inline-block;
	width:100%;
	height:600px;
	overflow:auto;
	vertical-align:middle;
}
.input {
	display:inline-block;
	width:15%;
}
.newData {
	width:300px;
}
.newDataTime {
	width:300px;
}
.attendData {
	width:200px;
}
.select {
	margin-left:5%;
	text-align:left;
}